.App {
  text-align: center;
  background-color: white;
  min-height: 100vh;  /* covers 100% of the screen */
}

.Header {
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.Body {
  padding: 20px;
}

.List_Entry {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 300px;
  /* width: 80%; */
}

.Article {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  padding: 10px 300px;
}

